.cards {
  padding: 0;
  margin: 0;
}

.cards__grid {
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
  grid-template-columns: repeat(3, 1fr);
  row-gap: 30px;
  column-gap: 24px;
  margin: 0;
  margin-bottom: 50px;
  justify-content: center;
  justify-items: center;
  padding: 0;
  
}

.cards__more {
  width: 100%;
  min-height: 36px;
  background-color: #f9f9f9;
  margin: 80px 0;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  font-weight: 500;
  border-style: none;
  border-radius: 6px;
  color: black;
  cursor: pointer;
  text-align: center;
  padding: 0;
}

.cards__more:hover {
  opacity: 0.5;
  transition: opacity 0.5s linear;
}

.cards__more_invisible {
  display: none;
}

.cards__error {
  font-size: 15px;
  line-height: 15px;
  /* font-weight: 500; */
  color: #2BE080;
  padding: 15px 0;
  margin: 0 auto;
  text-align: center;
}

.cards__error_invisible {
  display: none;
}

@media screen and (max-width: 1224px) {
    .cards__grid {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 36px;
      column-gap: 30px;
    }
  }

  @media screen and (max-width: 721px) {
      .cards__grid {
          grid-template-columns: 1fr;
      }
  }

