.card {
  max-width: 364px;
  min-width: 364px;
  margin: 0;
  background-color: #fdfdfd;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
}

.card__group {
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  margin: 14px;
  background-color: white;
  height: 40px;
  /* max-width: 364px; */
}

.card__text {
  margin: 0;
  /* height: 40px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__name {
  font-size: 15px;
  line-height: 18px;
  font-weight: 500;
  margin: 0;
  max-width: 260px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  /* max-height: 20px; */
  /* padding-bottom: 9px; */
}

.card__duration {
  font-size: 11px;
  line-height: 13px;
  font-weight: 400;
  color: #a0a0a0;
  margin: 0;
  padding: 0;
}

.card__button {
  background-color: white;
  border: none;
  cursor: pointer;
}

.card__button:hover {
  opacity: 0.5;
  transition: opacity 0.5s linear;
}

.card__button_to-save {
  background-image: url('../../images/save-movie.svg');
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-color: white;
}

.card__button_saved {
  background-image: url('../../images/saved-movie.svg');
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-color: white;
}

.card__button_to-delete {
  background-image: url('../../images/delete-btn.svg');
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-color: white;
}

.card__image {
  width: 364px;
  height: 203px;
}

@media screen and (max-width: 768px) {
  .card {
    max-width: 339px;
  }

  .card__image {
    max-width: 339px;
  }
}

@media screen and (max-width: 425px) {
  .card {
    min-width: 300px;
    margin: 0 auto;
  }

  .card__image {
    max-width: 300px;
  }
}
