.not-found {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 246px 0 60px;
}

.not-found__title {
  font-size: 140px;
  line-height: 169px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.not-found__text {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  margin: 5px auto 184px;
}

.not-found__button {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #2be080;
  text-decoration: none;
}

.not-found__button:hover {
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.5s linear;
}
