/* * {
  outline: 0.1px solid red;
} */


.page {
  width: 100%;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Inter", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

